<table class="ui fixed table">
  <thead>
    <tr>
      <th>Photo</th>
      <th>Description</th>
      <th> </th>
    </tr>
  </thead>
  <tbody>
    {{#each album.photos}}
      <tr>
        <td>
          {{title}}
        </td>
        <td>
          {{description}}
        </td>
        <td>
          <a href="/album/{{../album.id}}/deletephoto/{{id}}" class="ui tiny red button">Delete Photo</a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>