{{> menu}}

<section class="ui center aligned middle aligned segment">
  <h1 class="ui header">
    Welcome to PhotoAlbum
  </h1>
  <p>
    A small app to let you make albums. Still under construction, check back soon for more interactivity!
  </p>
</section>